USE [db_Prueba]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12-08-19 14:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[ROL] [varchar](200) NOT NULL,
	[CONTRASENA] [varchar](255) NOT NULL,
	[EMAIL] [varchar](200) NOT NULL,
	[RUT] [varchar](200) NOT NULL,
 CONSTRAINT [PK__Usuario__7C8480AE] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USER]    Script Date: 12-08-19 14:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_USER]
	@ID_USUARIO NUMERIC(18,0)
AS 
SET  NOCOUNT ON
   BEGIN 
   --TABLA FORMULARIO
	SELECT * FROM USUARIO WHERE ID_USUARIO = @ID_USUARIO;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_USER]    Script Date: 12-08-19 14:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_USER]
	@NOMBRE varchar(255),
    @ROL varchar(200),
    @CONTRASENA varchar(255),
    @EMAIL varchar(200),
    @RUT varchar(200)
AS 
   BEGIN 
   INSERT INTO [dbo].[Usuario]
           ([NOMBRE] ,[ROL] ,[CONTRASENA] ,[EMAIL],[RUT])
     VALUES
           (@NOMBRE, @ROL,@CONTRASENA, @EMAIL ,@RUT)

END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN_USER]    Script Date: 12-08-19 14:39:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LOGIN_USER]
	@RUT VARCHAR(200),
	@PASS VARCHAR(200)
AS 
SET  NOCOUNT ON
   BEGIN 
   --TABLA FORMULARIO
	SELECT * FROM USUARIO WHERE RUT = @RUT AND CONTRASENA = @PASS;

END

GO
